<main class="container section">
  <div class="tabs is-centered is-medium is-boxed">
    <ul>
      <li [class.is-active]="tabSelection === 'AudioTest'"><a (click)="tabSelection = 'AudioTest'">Audio Test</a></li>
      <li [class.is-active]="tabSelection === 'DevicesEnumeration'"><a (click)="tabSelection = 'DevicesEnumeration'">Enumeration</a></li>
    </ul>
  </div>
  <div [ngSwitch]="tabSelection">
    <app-devices-enumeration *ngSwitchCase="'DevicesEnumeration'"></app-devices-enumeration>
    <app-audio-test *ngSwitchCase="'AudioTest'"></app-audio-test>
  </div>
</main>
