<main class="container section">
  <div class="tabs is-centered is-medium is-boxed">
    <ul>
      <li [class.is-active]="tabSelection === 'RecordRtcTest'"><a (click)="tabSelection = 'RecordRtcTest'">RecordRTC Test</a></li>
      <li [class.is-active]="tabSelection === 'DevicesEnumeration'"><a (click)="tabSelection = 'DevicesEnumeration'">Enumeration</a></li>
    </ul>
  </div>
  <div [ngSwitch]="tabSelection">
    <app-devices-enumeration *ngSwitchCase="'DevicesEnumeration'"></app-devices-enumeration>
    <app-record-rtc-test *ngSwitchCase="'RecordRtcTest'"></app-record-rtc-test>
  </div>
</main>
