<section>
  <app-record-audio-test #audioTestBase
                         (createQrCode)="showQrCode()"
                         (createTestLink)="copyTestLink()"
                         (startRecording)="startRecording()"
                         (stopRecording)="stopRecording()"></app-record-audio-test>
  <div class="columns">
    <div class="column field">
      <label class="label" for="recordRtcOptionsInput">Record RTC Options</label>
      <div class="control">
        <textarea id="recordRtcOptionsInput"
                  class="textarea is-family-monospace"
                  placeholder="JSON"
                  rows="10"
                  [(ngModel)]="recordRtcOptionsText"></textarea>
      </div>
    </div>
    <div class="column">
      <label class="label" for="additionalSettings">Additional Settings</label>
      <div id="additionalSettings" class="field is-flex is-flex-direction-row is-justify-content-space-between is-align-content-center">
        <label class="checkbox">
          <input type="checkbox" [(ngModel)]="enableVisualization">
          Enable Visualization
        </label>
        <div class="audio-recorder" [ngStyle]="{'display': enableVisualization && audioTestBase.isRecordingRunning ? 'block' : 'none'}">
          <canvas #visualizer class="visualizer" width="300" height="70"></canvas>
        </div>
      </div>
    </div>
  </div>
</section>
